<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Biometrics</h1>
            <span>UPEC - Université Paris-Est Créteil</span>
            <span><address>Créteil, France </address><time> Sep-2014 to Aug-2015</time></span>
        </header>
        <p>
            <em>Thesis: Animal and Robot group video analysis : Tracking and recoginition of fishes</em>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc in Embedded Digital Sysytems</h1>
            <span>University of Sussex</span>
            <span><address>Brighton, UK</address><time>Sept-2011 to Aug-2012</time></span>
        </header>
        <p>
            <em>Dissertation: Design of 3-6 GHz of Upconverting and Downconverting of Spectrum Analyser.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BEng in Electronics and Communication</h1>
            <span>Annamalai University</span>
            <span><address>Chidambaram, India</address><time> Aug-2006 to June-2010</time></span>
        </header>
        <p>
            <em>Dissertation: Generation of irrevocable biometric cryptographic keys from finger biometrics.</em>
        </p>
    </article>
</section>
