<section class="thirteen columns">
    <h1>Activities</h1>
    <article>
        <header>
            <h1> Machine Learning Summer School </h1>
            <span><address>Instituto Superior Técnico (IST), Lisbon,Portugal</address><time>July 2016</time></span>
        </header>
        <p>
            Courses: Introduction to Machine learning, NLP with Machine Learning and Practical labs.
        </p>
    </article>
    <article>
        <header>
            <h1>Hackthon</h1>
            <span><address>British RedCross, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>
            CORIA-CIFED Hackday participated in hackathon conducted in Toulouse
        </p>
    </article>
</section>
